.heroes-list__pic {
  width: 1.2rem;
  height: 1.2rem;
}

.modal-container {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 100;
}

.modal-container_hidden {
  display: none;
}

.modal-container__modal {
  width: 30rem;
  height: 30rem;
  background-color: white;
}
